/#main.org#
/.#main.org
/..gitmodules.~undo-tree~
/.main.org.~undo-tree~
/BitNet/main.org~
/RUST/#compile.org#
/RUST/.#compile.org
/RUST/.compile.org.~undo-tree~
/RUST/bin/
/RUST/compile.el
/RUST/compile.org~
/RUST/exe/
/TMUX/tmux.dir/#configopts#
/TMUX/tmux.dir/.#configopts
/TMUX/tmux.dir/.main.org.~undo-tree~
/TMUX/tmux.dir/main.org~
/add_elpaca_submodules.sh
/add_rust_submodules.sh
/debootstrap/README.org~
/dnsmasq/README.org~
/emacs.d/#init.org#
/emacs.d/.#init.org
/emacs.d/.#projectile-bookmarks.eld
/emacs.d/.cache/
/emacs.d/.early-init.el.~undo-tree~
/emacs.d/.init.el.~undo-tree~
/emacs.d/.init.org.~undo-tree~
/emacs.d/.lsp-session-v1
/emacs.d/auto-save-list/
/emacs.d/early-init.el~
/emacs.d/eln-cache/
/emacs.d/elpa/
/emacs.d/elpaca/
/emacs.d/elpaca/repos/diff-hl
/emacs.d/elpaca/repos/diff-hl/*
/emacs.d/elpaca/repos/evil-surround/
/emacs.d/elpaca/repos/transient/
/emacs.d/elpaca/repos/vundo/
/emacs.d/eshell/
/emacs.d/flycheck_init.el
/emacs.d/history
/emacs.d/init.el~
/emacs.d/init.org~
/emacs.d/projectile-bookmarks.eld
/emacs.d/recentf
/emacs.d/snippets/c++-mode/.mycl.~undo-tree~
/emacs.d/snippets/c++-mode/mycl~
/emacs.d/snippets/org-mode/.conf.~undo-tree~
/emacs.d/snippets/org-mode/.figure.~undo-tree~
/emacs.d/snippets/org-mode/.html.~undo-tree~
/emacs.d/snippets/org-mode/.image.~undo-tree~
/emacs.d/snippets/org-mode/.img.~undo-tree~
/emacs.d/snippets/org-mode/.include.~undo-tree~
/emacs.d/snippets/org-mode/.ipython.~undo-tree~
/emacs.d/snippets/org-mode/.keywords.~undo-tree~
/emacs.d/snippets/org-mode/.language.~undo-tree~
/emacs.d/snippets/org-mode/.link.~undo-tree~
/emacs.d/snippets/org-mode/.matrix.~undo-tree~
/emacs.d/snippets/org-mode/.options.~undo-tree~
/emacs.d/snippets/org-mode/.py.~undo-tree~
/emacs.d/snippets/org-mode/.python.~undo-tree~
/emacs.d/snippets/org-mode/.quote.~undo-tree~
/emacs.d/snippets/org-mode/.rv_background.~undo-tree~
/emacs.d/snippets/org-mode/.rv_image_background.~undo-tree~
/emacs.d/snippets/org-mode/.setup.~undo-tree~
/emacs.d/snippets/org-mode/.sh.~undo-tree~
/emacs.d/snippets/org-mode/.src.~undo-tree~
/emacs.d/snippets/org-mode/.style.~undo-tree~
/emacs.d/snippets/org-mode/.verse.~undo-tree~
/emacs.d/snippets/org-mode/.video.~undo-tree~
/emacs.d/snippets/org-mode/conf~
/emacs.d/snippets/org-mode/nu~
/emacs.d/snippets/org-mode/python~
/emacs.d/snippets/org-mode/py~
/emacs.d/snippets/org-mode/sh~
/emacs.d/tmp.el
/emacs.d/transient/
/fish_config/#README.org#
/fish_config/.#README.org
/fish_config/.README.org.~undo-tree~
/fish_config/.config.fish.~undo-tree~
/fish_config/README.org~
/flatpak_emacs/.README.org.~undo-tree~
/foot/foot.org~
/git_add.txt
/gitignore.txt
/launcher_script_template/scripts/main.org~
/main.org~
/rm.txt
/scripts/alacritty_master.sh~
/shell_functions/.important_functions.org.~undo-tree~
/shell_functions/important_functions.org~
/wayfire_config/do_copy.sh~
/work.sh
/wrapper_code/#mysync.c#
/wrapper_code/#wrapper.org#
/wrapper_code/.#wrapper.org
/wrapper_code/.wrapper.c.~undo-tree~
/wrapper_code/a.out
/wrapper_code/cc/cc.org~
/wrapper_code/cxx/cc.org~
/wrapper_code/cxx/main.org~
/wrapper_code/emacs_server/main.cc~
/wrapper_code/emacs_server/main.c~
/wrapper_code/emacs_server/main.org~
/wrapper_code/foot_server/main.cc~
/wrapper_code/foot_server/main.c~
/wrapper_code/foot_server/main.org~
/wrapper_code/mysync.org~
/wrapper_code/wrapper.el
/wrapper_code/wrapper.org~
/zellij_flatpak_wrapper/#main.org#
/zellij_flatpak_wrapper/main.org~
/README.org~
/debootstrap/#README.org#
/wireguard_scripts/README.org~
/wireguard_scripts/privatekey
/wireguard_scripts/publickey
/cargo/README.org~
/helix/README.org~
/starship/copy.sh~
/wezterm/README.org~
/kde_shortcuts/scripts/README.org~
/wayfire_config/.#wayfire.ini
/wayfire_config/tmux-client-7519.log
/wrapper_code/#mysync.org#
/wrapper_code/.#mysync.org
/wrapper_code/cc/#main.org#
/wrapper_code/cc/.#main.org
/wrapper_code/cxx/#main.org#
/wrapper_code/cxx/.#main.org