/CPU/0_base/build/
/CPU/0_base/important_functions.sh
/CPU/1_install_packages/build/
/CPU/1_install_packages/important_functions.sh
/CPU/1_rust_builder/
/CPU/2_install_rust/build/
/CPU/2_install_rust/important_functions.sh
/CPU/2_zsh/
/CPU/3_good_setup/build/
/CPU/3_good_setup/important_functions.sh
/CPU/4_python/build/
/CPU/4_python/important_functions.sh
/CPU/5_libtorch/build/
/CPU/5_libtorch/important_functions.sh
/CPU/6_pytorch/build/
/CPU/6_pytorch/important_functions.sh
/CPU/6_pytorch/main.c
/CPU/6_pytorch/main.h
/CPU/6_pytorch/run_cpu.sh
/important_functions.sh
/waste/
